* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  color: #141414;
}

.experiência {
  max-width: 1200px;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  word-break: break-all;
  max-width: 5ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3.5rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
